.hm_content {
	.make-md-column(9);

	padding: 0;
	height: 100%;

	.hm_thumbnail {
		width: 100%;
	}

	.hm_content_top {
		margin-bottom: 25px;

		.hm_article {
			.make-sm-column(6);

			img {
				border-bottom: @base_border_b_orange;
				border-top: @base_border_b_orange;
			}
		}
	}

	.hm_content_middle {

		.hm_article {
			.make-sm-column(6);
			.make-md-column(4);

			margin-bottom: 25px;
		}

		.hm_caption {
			p {
				text-align: justify;
				max-height: 300px;
				overflow: hidden;
			}
		}
	}
}